body {
  background: #000000;
  color: #f8f8f2;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  /* font-family: "JetBrains Mono"; */
  /* font-family: 'Pacifico', cursive; */
  font-family: 'Rubik', sans-serif;
  font-style: italic;
  font-size: 16px;
  padding: 20px 0px 0px 60px;
}

#intro {
  border: 1px solid #44475a;
  padding-left: 40px;
}

#piya {
  font-size: 24px;
  margin-top: 20px;
  position:absolute;
}

#nav {
  box-sizing: content-box;
  border: 2px solid #44475a;
  border-radius: 7px;
  padding: 20px;
  padding-left: 25px;
  width: 12%;
  margin: auto;
  position: absolute;
  right: 800px;
  left: 60%;

}

#intro {
  box-sizing: content-box;
  border-radius: 7px;
  padding-top: 30px;
  padding-bottom: 30px;
  border-width: 2px;
  margin: auto;
  margin-top: 110px;
  position: relative;
  margin-bottom: 40px;
}

.intro {
  color: #50fa7b;
}

.guide {
  position: absolute;
  margin: auto;
  width: 40%;
  border-radius: 7px;
  border-width: 2px;
}
